<h1>Login Page</h1>
<hr />

<form method="post" asp-action="Login" asp-controller="Admin">
<div class="a">
    <label>UserId</label>
    <input type="number">
</div>
<div class="a">
    <label>Password</label>
    <input type="text">
</div>
<div class="a">
    <button type="submit">Login</button>
</div>
</form>